body{
    margin:auto;
}
.form-group{
    padding:10px;
}

label{
    display:block;
}

input{
    padding:8px;
    width:100;
}

input[type="submit"]{
    background-color:#333;
    color:#fff;
    margin:10px;
    padding: 10px 15px;
    border:none;
}
