<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/menu/add-item">

    <div class="form-group">
        <label th:for="itemId">Item</label>
        <select name="itemId">
            <option th:each="item : *{items}"
                    th:text="${item.name}"
                    th:value="${item.id}"></option>
        </select>

    </div>

    <input type="hidden" name="menuId" th:value="*{menu.id}" />

    <input type="submit" value="Add Item"/>
</form>

</body>
</html>
