<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <head th:replace="fragments :: head"></head>
    <h1 th:text="${title}">Default Title</h1>
</head>
<body class="container">


    <p th:unless="${menus} and ${menus.size()}">No Menus</p>

    <table class="table">

            <tr>

                <th>Name</th>

            </tr>

            <tr th:each="menu : ${menus}">
                <a th:href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
            </tr>
    </table>

    <a href="/menu/add">Add Menu</a>

</body>
</html>